<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>349154366527-tpl50g8t3qmivlrn2at2r35aqphc1jbe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.349154366527-tpl50g8t3qmivlrn2at2r35aqphc1jbe</string>
	<key>API_KEY</key>
	<string>AIzaSyDBOKwxFuFkek2KqrhEIM-CaO5VhetOhho</string>
	<key>GCM_SENDER_ID</key>
	<string>349154366527</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joongwon.SeSACFirebase</string>
	<key>PROJECT_ID</key>
	<string>sesac2-60ec2</string>
	<key>STORAGE_BUCKET</key>
	<string>sesac2-60ec2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:349154366527:ios:71963ac582b6c791bad48a</string>
</dict>
</plist>